@media (max-width: 768px)
{

   body
   {
      margin-top:0px;
      margin-left: 0px;
      margin-right: 0px;
      font-size: 16px;
   }

   .container
   {
      padding-left: 5px;
      padding-right: 5px;
   }

   .container-fluid
   {
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 5px;
   }

   .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
   {
      padding-right: 0px;
      padding-left: 0px;
   }

   .datepick
   {
      width: 93%;
   }

}

@media (min-width: 768px)
{

   .navbar-header
   {
      float: none;
   }
   .navbar-left,.navbar-right
   {
      float: none !important;
   }
   .navbar-toggle
   {
      display: block;
   }
   .navbar-collapse
   {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
   }
   .navbar-fixed-top
   {
      top: 0;
      border-width: 0 0 1px;
   }
   .navbar-collapse.collapse
   {
      display: none!important;
   }
   .navbar-nav
   {
      float: none!important;
      margin-top: 7.5px;
   }
   .navbar-nav>li
   {
      float: none;
   }
   .navbar-nav>li>a
   {
      padding-top: 10px;
      padding-bottom: 10px;
   }
   .collapse.in
   {
      display:block !important;
   }

   html
   {
      margin: auto;
      width: 90%;
   }

   body
   {
      margin-top:0px;
      margin-left: 0px;
      margin-right: 0px;
      font-size: 14px;
   }

   .container
   {
      padding-left: 15px;
      padding-right: 15px;
   }

   .container-fluid
   {
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 5px;
   }

   .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
   {
      padding-right: 15px;
      padding-left: 15px;
   }

   .datepick
   {
      width: auto;
   }
}

::-webkit-scrollbar {
    display: none;
}

.a
{
  text-decoration-color: #000;
}

.modal-backdrop.in
{
   z-index: auto;
}

.modal-body
{
   position: relative;
   padding: 0px;
   padding-right: 0px;
   padding-top: 5px;
   padding-right: 15px;
   padding-left: 15px;
}

.navbar-brand
{
  color: #000;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse
{

   background-color: #9c1e26;
   border-top: 0px solid transparent;
   margin-right: 0px;
   margin-left: 0px;
}

.navbar
{
    margin-bottom: 0px;
}

.navbar-default
{
    background-color: #9c1e26;
}

.navbar-nav>li>a
{
  font-size: 1.5em;
}

.panel
{
   border: 0px;
   box-shadow: 0 5px 5px #cacaca;
}

.panel-default>.panel-heading
{
   background-color: #9c1e26;
   color: #fff;
   background-color: #9c1e26;
}

.panel-heading-tile
{
   border-top-right-radius: 25px;
   border-top-left-radius: 25px;
   /*
   border-bottom-right-radius: 25px;
   border-bottom-left-radius: 25px;
   */
   margin-left: 5px;
   margin-right: 5px;
}

.panel-body
{
   padding: 0px;
}

.dropdown-space-10px
{
   padding-bottom: 10px;
}

body
{
   background-color: #282e3c;
   margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a
{
    color: #fcfcfc;
}


.icon-th:before
{
    content: "\f00a";
    color: #9c1e26;
}

.panel-footer
{
    background-color: #bdbdbd;
    padding: 10px 1px;
}

.centered
{
   text-align: center;
}

.btn-full
{
   padding: 0px;
   font-size: 16px;
   width: 100%;
   display: block;
   /* text-align: left; */
}

.overflow-hidden
{
   overflow-hidden;
}

.color-white
{
  color: #fff;
}

html input[disabled]
{
   cursor: default;
   background-color: transparent;
   font-size: 16px;
}

.input-no-border
{
  background-color: transparent;
  border: none;
  color: #fff;
}

.scrollable-menu
{
   height: auto;
   max-height: 200px;
   overflow-x: hidden;
}

.table
{
   margin-bottom: 0px;
}

.font-12px
{
   font-size: 12px;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #fff;
}

html
{
   border: 2px solid #d8d8d8;
   padding-top: 0px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
   background-color: transparent;

}

.row
{
    margin-left: 0px;
    margin-right: 0px;
}


.ly
{
   color: #800000;
   font-size: 12px;
}

.datepick
{
   border: none;
   background-color: #282e3c;
   color: white;
   font-size: 16px;
}

.glyphicon
{
   font-size: 150%;
}

.color-yelow
{
   color: #e6e600;
}

.glyph-tiny
{
   font-size: 100%;
}

.glyph-flip
{
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 10px 0;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}
